* {
    margin: 0;
    padding: 0;
}

#navbar {
    color: white;
    padding:18px;
    font-weight:bold;
}
#bg-img {
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwS8yCi4pEcbapARCsJ7q6dyP1lfmia7aJ9ld83YdQtA&s");
    opacity: 0.6;
    width: 100vw;
    height: 60vh;
}